.msg-modal {
  height: 15vh;
  width: 30vw;
  margin: auto;
  margin-top: 10rem;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: none;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
  h1 {
    color: white;
    font-weight: 400;
  }
}
