* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

.words-wrapper {
  width: 90vw;
  margin: auto;
  position: relative;
  button {
    position: fixed;
    background: rgba(6, 6, 153, 0.5);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
    top: 250px;
    right: 40px;
    border: none;
    border-radius: 50%;
    min-height: 50px;
    min-width: 50px;
    color: black;

    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
    .download {
      height: 4rem;
      width: 4rem;
    }
  }
}

@import "./wordCard";
